* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lilita One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.wrapper {
  width: 100%;
  height: 100dvh;

  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(180deg, #ffdde1, #f7b2b8, #b15c6d);


  /* padding: 50px 0; */
  margin: 0 auto;

  /*Tar bort den inbbygda touch funktionen som kommer med i Safari och edge*/
  user-select: none; /* Standard property */ 
  -webkit-user-select: none; /* Safari and Chrome */ 
  -ms-user-select: none; /* IE and Edge */
}

.wrapper .scores-and-lives-wrapper {
  color: orange;

  display: flex;
  justify-content: space-between;
  width: 90vw;
  max-width: 350px;
  
}

.scores-and-lives-wrapper #score,
#lives {
  color: rgb(255, 255, 255);
 
}


.wrapper #game-container {
  width: 90vw;
  max-width: 315px;
  height: 90vw;
  max-height: 315px;

  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  gap: 2px;

  margin: 5px 0 50px;
  border: 5px solid orange;
  border-radius: 10px;
  /* background-color: #000000; */
  background: transparent;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}


#game-container .block-slot {
  border: 1px solid #3a3a3a;
  /* background-color: #1c1c1c; */
  background: transparent;
}

#game-container .block {
  width: 100%;
  height: 100%;
  border: 1px double white;
  border-radius: 20%;
}

.wrapper #block-pool{
  width: 90vw;
  height: 100px;
  max-width: 315px;
  /* overflow: hidden; */

  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Fördela dina containers jämnt */
  gap: 10px; /* Litet mellanrum mellan block-containers om det behövs */
  justify-items: center; /* Centrerar blocken i sina respektive containers */
  



  
}

#block-pool .block-container {
  display: grid;
  /* gap: 2px; Ingen mellanrum mellan blocken */
  grid-template-columns: repeat(auto-fit, minmax(28px, 1fr)); /* Skapar kolumner baserat på blockens storlek */
  grid-template-rows: repeat(auto-fit, minmax(28px, 1fr));    /* Skapar rader dynamiskt */
  width: auto;  /* Anpassar bredden beroende på innehållet */
  height: 56px; /* Anpassar höjden beroende på innehållet */
  
  justify-content: center; /* Centrerar blocken i container */
  align-content: center;

}

.block-container .block {
  width: 7.5vw;
  max-width: 28px;

  height: 7.5vw;
  max-height: 28px;
  cursor: grab;
  border: 1px double white;
  border-radius: 20%;
  margin: 0; /* Se till att det inte finns några marginaler */
  padding: 0; /* Tar bort eventuell inre fyllning */
}


.block.e000ff {
  background-color: #e000ff;
}
.block.blue {
  background-color: #2196f3;
}
.block.green {
  background-color: #4caf50;
}
.block.yellow {
  background-color: #ffeb3b;
}
.block.black {
  background-color: #00ccff;
}
.block.ff7000 {
  background-color: #ff5500;
}
.block.white {
  background-color: #ffffff;
}
.block.nnn {
  background-color: #000000;
}



.block-container-placeholder {
  width: 84px;
  max-width: 84px;
  height: 100%; 
  visibility: hidden; /* Keep it invisible but occupying space */
}
