* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lilita One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.wrapper {
  width: 100%;
  height: 100dvh;

  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(180deg, #ffdde1, #f7b2b8, #b15c6d);
  margin: 0 auto;

  /*Tar bort den inbbygda touch funktionen som kommer med i Safari och edge*/
  user-select: none; /* Standard property */ 
  -webkit-user-select: none; /* Safari and Chrome */ 
  -ms-user-select: none; /* IE and Edge */
}

.wrapper .scores-and-lives-wrapper {
  color: orange;

  display: flex;
  justify-content: space-between;
  width: 90vw;
  max-width: 315px;
  margin: 20px 0;
  
}

.scores-and-lives-wrapper #score,
#lives {
  color: rgb(255, 255, 255);
 
}


.wrapper #game-container {
  width: 90vw;
  max-width: 315px;
  height: 90vw;
  max-height: 315px;

  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  /* gap: 0.1px; */

  margin: 0 0 90px;
  border: 5px solid orange;
  border-radius: 10px;
  background: transparent;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}


#game-container .block-slot {
  border: 1px solid #0000006b;
  background: transparent;
}

#game-container .block {
  width: 100%;
  height: 100%;
  border-radius: 20%;

}

.wrapper #block-pool{
  width: 90vw;
  /* height: 100px; */
  max-width: 315px;

  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 10px; 
  justify-items: center;   
  
}

#block-pool .block-container {
  display: grid;
  gap: 2px;
  /* border: 1px solid; */

}

.block-container .block {
  width: 7.5vw;
  max-width: 30px;

  height: 7.5vw;
  max-height: 30px;
  cursor: grab;
  border-radius: 20%;
  margin: 0;
  padding: 0; 

}


.block.e000ff {
  background-color: #e000ff;
}
.block.blue {
  background-color: #2196f3;
}
.block.green {
  background-color: #4caf50;
}
.block.yellow {
  background-color: #ffeb3b;
}
.block.black {
  background-color: #00ccff;
}
.block.ff7000 {
  background-color: #ff5500;
}
.block.white {
  background-color: #ffffff;
}
.block.nnn {
  background-color: #000000;
}

.block-container-placeholder {
  width: 84px;
  max-width: 84px;
  height: 100%; 
  opacity: 0; 
}

.wrapper .progress{
  background: linear-gradient(180deg, #ffffff, #f7b2b8, #b15c6d);

  border-radius: 20px;
  width: 90vw;
  max-width: 315px;
  height: 25px;
  margin: 20px 0 0;
}

.progress #progress-done{
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: repeating-linear-gradient(
    to left, 
    #ffa743,
    #ffc37f,
    #ffdeb8
  );

  border-radius: 20px;
  color: white;
  height: 100%;
  width: 0%;
  transition: 1s ease 0.3s;
}

.block-pool-hidde{
  visibility: hidden;
  transition: .5s ease 1s;
}

.scale-in-center {
	-webkit-animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2024-10-14 16:9:35
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation scale-in-center
 * ----------------------------------------
 */
 @-webkit-keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}
@keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}


