
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Nerko One", cursive;
  font-weight: 400;
  font-style: normal;
  background: linear-gradient(180deg, #ff8a97, #ff6673, #b15c6d);
}

.wrapper {

  max-width: 400px;
  height: 100dvh;


  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(180deg, #ffc6cc, #f3a7ad, #b15c6d);

  margin: 0 auto;
  border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;

  /*Tar bort den inbbygda touch funktionen som kommer med i Safari och edge*/
  user-select: none; /* Standard property */ 
  -webkit-user-select: none; /* Safari and Chrome */ 
  -ms-user-select: none; /* IE and Edge */
}

.wrapper .scores-moves-wrapper {
  color: #ff6f61;

  display: flex;
  justify-content: space-between;
  width: 90vw;
  max-width: 300px;

  margin: 0 0 15px;
  
}

.scores-moves-wrapper #score,
#moves {
  color: rgb(255, 255, 255);
}

.scores-moves-wrapper h2{
  font-size: 1.3em;
  text-align: end;
}



.wrapper #game-container {
  width: 90vw;
  max-width: 300px;
  min-width: 100px;
  height: 90vw;
  max-height: 300px;
  min-height: 100px;

  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  margin: 0 0 50px;
  border: 5px solid #ffb7b7;
  border-radius: 10px;
  background: transparent;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}


#game-container .block-slot {
  border: .5px solid #232323;
  background: transparent;
  /* -webkit-box-shadow: 1px -1px 3px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 1px -1px 3px 0px rgba(0,0,0,0.75);
  box-shadow: 1px -1px 3px 0px rgba(0,0,0,0.75); */
  
}

#game-container .block {
  width: 100%;
  height: 100%;
  border: .5px solid #000000;
}

.wrapper #block-pool{
  width: 90vw;
  max-width: 300px;
  min-height: 70px;
  
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  
  gap: 10px; 
  justify-items: center;
  align-items: center;

 
}

#block-pool .block-container {
  display: grid;
  /* box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset; */
}

.block-container .block {
  width: 8.1vw;
  max-width: 29px;

  height: 8.1vw;
  max-height: 29px;

  cursor: grab;
  margin: 0 0.5px 1px;
  /* border: 0.5px solid rgb(94, 0, 0); */
  border-radius: 3px;
  -webkit-box-shadow: 1px -1px 2px 0px rgb(90, 0, 0);
  -moz-box-shadow: 1px -1px 2px 0px rgb(90, 0, 0);
  box-shadow: 1px -1px 2px 0px rgb(90, 0, 0);
  
}

.block-container-placeholder {
  width: 84px;
  max-width: 84px;
  height: 100%; 
  /* opacity: 0;  */
}


.wrapper .progress{
  background: linear-gradient(180deg, #ffffff, #f7b2b8, #b15c6d);

  border-radius: 20px;
  width: 90vw;
  max-width: 300px;
  height: 18px;
  margin: 0 0 15px;
}

.progress #progress-done{
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: repeating-linear-gradient(
    to left, 
    #ff6f61 ,
    #ff8a75 ,
    #ffb3a1 
  );

  border-radius: 20px;
  color: white;
  height: 100%;
  width: 0%;
  transition: 1s ease 0.3s;
}

.tilt-in-fwd-tr {
	-webkit-animation: tilt-in-fwd-tr 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: tilt-in-fwd-tr 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2024-10-16 20:25:54
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation tilt-in-fwd-tr
 * ----------------------------------------
 */
 @-webkit-keyframes tilt-in-fwd-tr {
  0% {
    -webkit-transform: rotateY(20deg) rotateX(35deg) translate(300px, -300px) skew(-35deg, 10deg);
            transform: rotateY(20deg) rotateX(35deg) translate(300px, -300px) skew(-35deg, 10deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
            transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
    opacity: 1;
  }
}
@keyframes tilt-in-fwd-tr {
  0% {
    -webkit-transform: rotateY(20deg) rotateX(35deg) translate(300px, -300px) skew(-35deg, 10deg);
            transform: rotateY(20deg) rotateX(35deg) translate(300px, -300px) skew(-35deg, 10deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
            transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
    opacity: 1;
  }
}


.slide-out-bck-center {
	-webkit-animation: slide-out-bck-center 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: slide-out-bck-center 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}
/* ----------------------------------------------
 * Generated by Animista on 2024-10-15 0:23:15
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-out-bck-center
 * ----------------------------------------
 */
 @-webkit-keyframes slide-out-bck-center {
  0% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateZ(-1100px);
            transform: translateZ(-1100px);
    opacity: 0;
  }
}
@keyframes slide-out-bck-center {
  0% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateZ(-1100px);
            transform: translateZ(-1100px);
    opacity: 0;
  }
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100dvh;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  width: 90vw;
  max-width: 300px;

  min-height: 170px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.hidden{
  display: none;
}
.close-button{
  background: linear-gradient(180deg, #ffdde1, #f7b2b8, #b15c6d);
  padding: 10px 30px;
  border-radius: 10px;
  font-size: 1.2em;
  border: none;
  cursor: pointer;

  margin: 20px 0 0;
  color: white;
 
}
